* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.computer {
  display: none;
  min-width: 55px;
  min-height: 55px;
  background-image: url("images/computer.png");
}

.users {
  display: none;
  min-width: 50px;
  min-height: 50px;
  background-image: url("images/user.png");
}
.highlight {
  border: 10px solid green;
}
.same {
  border: 10px dashed blue;
}
body {
  background-color: rgb(164, 247, 164);
}
li > img {
  width: 200px;
}
.games {
}
.games {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}
.choice > img {
  border-radius: 10px;
  border: 5px solid white;
}
.games > div {
  padding: 20px;
}
ul {
  flex: 1;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
ul .logo {
  font-size: 25px;
  margin-right: auto;
}
ul .sign-up {
  padding: 15px;
}
ul .login {
  padding: 15px;
}
.header-menu {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(19, 16, 16);
}
.main {
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  justify-content: center;
}

div > img {
  width: 230px;
  height: 200px;
}
.choice {
  display: flex;
}
button {
  margin: 5px;
  background-color: yellow;
  padding: 7px;
  border-radius: 10px;
}

.menu {
  display: none;
}
.menu > div {
  border: 1px solid brown;
  cursor: pointer;
}
.menu > div > img {
  width: 50px;
  height: 50px;
}
.start {
  display: flex;
  justify-content: center;
}
.user_score {
  margin-left: 22px;
  padding-top: 12px;
  padding-left: 1px;
}

.computer_score {
  margin-left: 22px;
  margin-bottom: 15px;
  padding-top: 10px;
}
